<div id="show-articles">
<h1>ALL ARTICLES</h1>
<%= link_to "Categories", categories_path %>
<br>
<br>

<%= link_to "Create new article", new_article_path %>
<br>
<br>

<div class="container">
<% @articles.each do |article|%>
  <h3>TITLE:<%= article.title %></h3>
  <h3>BODY:<%= article.body %><h3>
  <h3> CATEGORY: <%= article.category.title %>
  <br>
  <br>
  ----------------------
<% end %>

<br>
<h2>
</h2>

</div>
</div>
